################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuppLocals/.vs/SuppLocals/v16/Server/sqlite3
